# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Project Data
# -----------------------------
data/raw/
data/processed/
qdrant_storage/
postgres_data/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log